<div class="about">
  <div class="about__body">
    <div class="about__header">
      <div class="about__title title">ABOUT</div>
      <div class="about__text">It's a simple angular app  where you gonna be an Admin. T
        his app allows you to send request to firebase fetch some data make a pull 
        request et cetera (full REST requests). For more information check my README.me file on GitHub </div>
    </div>
    <div class="about__row">
      <div class="about__column">
        <div class="item-about">
          <div class="item-about__icon">
            <img class="item-about__img"src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/18594121091536125453-512.png" alt=""  />
          </div>
          <div class="item-about__title">Angular</div>
          <div class="item-about__text">
            This application uses most of the advanced Angular features such as Guards/Routes/Interceptors and more.</div>
        </div>
      </div>
      <div class="about__column">
        <div class="item-about">
          <div class="item-about__icon">
            <img src="https://cdn4.iconfinder.com/data/icons/google-i-o-2016/512/google_firebase-2-512.png" alt="" />
          </div>
          <div class="item-about__title">firebase</div>
          <div class="item-about__text">Firebase is a good сloud storage for deploy and tests your app. Gives you Authentication/Database/Storage and more cool fields</div>
        </div>
      </div>
    </div>
  </div>
</div>